@import "tailwindcss";

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-\[slideIn_0\.5s_forwards\] {
  animation: slideIn 0.5s forwards;
}